{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Getting Started with PHP on drie</h1>
    <p>This is a sample PHP application deployed to drie.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/drie/drie-php-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
{% endblock %}
